Color Pallete{
    /*page*/
    background-color: black;
    background-color: white;
    background-color: #509D45;
    background-color: #43AB74;
    background-color: #47B55B;
    background-color: #55759E;
    background-color: #D4E8D1;
    /*bubbles*/
    background-color: #1D782C;
    background-color: #37df5b;
    background-color: #4af06e;
    background-color: #70DE62;
    background-color: #7DF76D;
    background-color: #9fd69d;
    background-color: #D5E4CF;
}

.container-center{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.login{
    color: white;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}

.login input{
    margin-bottom: 1.5em;
    height: 50px;
    border: 0;
    border-radius: 15px;
    padding: 10px;
    font-size: 15px;
    background-color: white;
}

.login-area{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.login-area h1{
    padding: 20px;
    width: 100%;
    margin: 20px;
    text-align: center;
}

form{
    margin-top: 1.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
}

form h1{
    text-align: center;
    margin-bottom: 0.5em;
    color: white;
}

input[type="text"], textarea {
    background-color : #D4E8D1;
}
input[type="password"], textarea {
    background-color : #D4E8D1;   
}

form button{
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 100%;
    border: 0;
    border-radius: 15px;
    background-color: #43AB74;
    color: black;
}

.login a{
    margin: 1.5em 0;
    color: black;
    cursor: pointer;
}