Color Pallete{
    /*page*/
    background-color: black;
    background-color: white;
    background-color: #509D45;
    background-color: #43AB74;
    background-color: #47B55B;
    background-color: #55759E;
    background-color: #D4E8D1;
    /*bubbles*/
    background-color: #1D782C;
    background-color: #37df5b;
    background-color: #4af06e;
    background-color: #70DE62;
    background-color: #7DF76D;
    background-color: #9fd69d;
    background-color: #D5E4CF;
}

.container-center{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.login{
    color: white;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 10em;
    position: relative;
    bottom: 3em;
}
/* 
.login .nav{
    padding: 15px;
    margin-right: 15em;
    height: 10em;
    width: 75vw;
    display: flex;
    flex-direction: row;
    position: absolute;
    color: white;
    bottom: 39.5em;
}

.login .nav h1{
    font-size: 45px;
}
.login .nav h3{
    font-size: 30px;
    font-weight: 600;
    position: relative;
    top: 1.5em;
    right: 4.5em;
}

.login .nav img{
    position: relative;
    bottom: 0.5em;
    right: 1.9em;
}
 */
.login input{
    margin-bottom: 1.5em;
    height: 50px;
    border: 0;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    background-color: white;
}

.login-area{
    z-index: 1001 !important;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.login-area img{
    width: 100%;
    padding: 25px;
}

.login-area h1{
    padding: 20px;
    width: 100%;
    margin: 20px;
    text-align: center;
}

form{
    z-index: 1001 !important;
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
}

form h1{
    text-align: center;
    margin-bottom: 0.5em;
    color: white;
}

input[type="text"], textarea {
    color: white;
    border: 2px solid #3cb62c;
    background-color : #222;
}
input[type="password"], textarea {
    color: white;
    border: 2px solid #3cb62c;
    background-color : #222;   
}

form button{
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 100%;
    border: 0;
    border-radius: 15px;
    background-color: #3cb62c;
    color: white;
    font-size: 25px;
    transition: 0.2s ease-in-out;
}

form button:hover{
    transform: scale(102%);
    background-color: #3cb62c;
}

.login a{
    text-decoration: underline;
    z-index: 1001 !important;
    margin: 1.5em 0;
    color: white;
    cursor: pointer;
}

.container-icons{
    height: 1em;
    top: 8vh;
    width: 100vw;
    bottom: 0;
    position: relative;
    text-align: center;
}

.row-icons{
    position: absolute;
    min-width: 100vw;
}

.icon{
    width: 7em;
    position: relative;
}

.row-icons > .icon:nth-child(1){
    animation: up 10s infinite forwards;
}
.row-icons > .icon:nth-child(2){
    animation: up2 10s infinite backwards;
}
.row-icons > .icon:nth-child(3){
    animation: up 10s infinite forwards;
}
.row-icons > .icon:nth-child(4){
    animation: up2 10s infinite backwards;
}  
.row-icons > .icon:nth-child(5){
    animation: up 10s infinite forwards;
}
.row-icons > .icon:nth-child(6){
    animation: up2 10s infinite backwards;
}
.row-icons > .icon:nth-child(7){
    animation: up 10s infinite forwards;
}
.row-icons > .icon:nth-child(8){
    animation: up2 10s infinite backwards;
}    

@keyframes up {
    0%{
        transform: translateY(0px);
    }
    
    50%{
        transform: translateY(-25px);
    }
    
    100%{
        transform: translateY(0px);
    }
}

@keyframes up2 {
    0%{
        transform: translateY(0px);
    }
    
    50%{
        transform: translateY(25px);
    }
    
    100%{
        transform: translateY(0px);
    }
}

/* .container-waves .waves {
    position:absolute;
    min-width:100vw;
    bottom: 0%;
    top: 75.05vh;
    }
    
    .parallax > use {
    animation: move-forever 25s cubic-bezier(.45,.5,.45,.5) infinite;
    }
    .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
    }
    .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
    }
    .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    }
    .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 16s;
    }


@keyframes move-forever {
    0% {
    transform: translate3d(-90px,0,0);
    }
    100% {
    transform: translate3d(85px,0,0);
    }
}

@media (max-width: 768px) {
    .container-waves{
        min-width: 100vw;
    }
    .waves {
        width: 100vw;
    }
} */