form textarea{
    height: 95px;
    resize: none;

}

.status label{
    font-size: 17px;
    text-align: center;
    justify-content: center;
    padding-left: 0.5em;
}

.status span{
    padding-left: 0.5em;
}

.status label:not(:first-child){
    margin-left: 15px;
}