*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

*:focus{
    outline: 0;
}

html, body, #root{
    height: 100%;
}

body{
    font-family: Verdana, sans-serif;
    background-color: white;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

button{
    cursor: pointer;
}